<h1>Meetups</h1>
  <br>
  <%= will_paginate @meetups %>
  <br>
  <% @meetups.each do |meetup| %>
    <li><a href="/meetups/<%= meetup.id %>"><%= meetup.title %></li>
  <% end %>
<br><br>
<a href="/meetups/new_meetup">New Meetup</a>
